<koken:pagination>
	<div class="paginate">
		<div class="nav">
			<div id="pag-top"></div>
			<koken:if condition="{{ page }} > 1">
				<li class="prev" id="tag-holder-left">
					<koken:link data="previous_page" title="Previous" bind_to_key="left">
						<div id="left"><i class="icon-caret-left icon-large"></i></div>
					</koken:link>
				</li>
			</koken:if>
			<div id="pag-middle">
				<ol id="middle">
					
					<li>
						<ol class="num">
						<koken:loop>
							<li>
								<koken:link class="{{ is_current }}" title="{{ number }}">
									{{ number }}
								</koken:link>
							</li>
						</koken:loop>
						</ol>
					</li>
					
				</ol>
			</div>
			<koken:if condition="{{ page }} < {{ pages }}">
				<li class="next" id="tag-holder-right">
					<koken:link data="next_page" title="Next" bind_to_key="right">
						 <div id="right"><i class="icon-caret-right icon-large"></i></div>
					</koken:link>
				</li>
			</koken:if>
		    <div id="pag-bottom"></div>
		</div>
	</div>
</koken:pagination>