<div id="buttonholder">
    <p>Some text will go here explaining how people can upload or submit tips to added to any category that they specify.</p>
    <div class="submit-button submit">SUBMIT 'DAT TIP</div>
</div>
<hr />
<div class="submit-form">
    <h2 id="form-label">Just The Tip</h2>
    <form>
        <!-- Awesome OnOffSwitch From http://proto.io/freebies/onoff/-->
        <div id="switches"><a name="submit"></a>
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                <label class="onoffswitch-label" for="myonoffswitch">
                    <div class="onoffswitch-inner"></div>
                    <div class="onoffswitch-switch"></div>
                </label>
            </div>
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2">
                <label class="onoffswitch-label-2" for="myonoffswitch2">
                    <div class="onoffswitch-inner"></div>
                    <div class="onoffswitch-switch"></div>
                </label>
            </div>
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch3">
                <label class="onoffswitch-label-3" for="myonoffswitch3">
                    <div class="onoffswitch-inner"></div>
                    <div class="onoffswitch-switch"></div>
                </label>
            </div>
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch4">
                <label class="onoffswitch-label-4" for="myonoffswitch4">
                    <div class="onoffswitch-inner"></div>
                    <div class="onoffswitch-switch"></div>
                </label>
            </div>
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch5">
                <label class="onoffswitch-label-5" for="myonoffswitch5">
                    <div class="onoffswitch-inner"></div>
                    <div class="onoffswitch-switch"></div>
                </label>
            </div>
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch6">
                <label class="onoffswitch-label-6" for="myonoffswitch6">
                    <div class="onoffswitch-inner"></div>
                    <div class="onoffswitch-switch"></div>
                </label>
            </div>
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch7">
                <label class="onoffswitch-label-7" for="myonoffswitch7">
                    <div class="onoffswitch-inner"></div>
                    <div class="onoffswitch-switch"></div>
                </label>
            </div>
        </div>
        <p>Photoshop</p>
        <textarea placeholder="Show me your tips" rows="8" cols="50" name="comment" form="usrform"></textarea>
        <div class="submit-button" style="width:50px;margin:1em auto 3em auto;">SUBMIT</div>
    </form>
</div>