<div id="buttonholder">
    <p>I take pride in knowing lots of hotkeys and workflow tips, but I can't possibly know them all. Have you found something that has helped to increase your workflow in a specific app? Submit it below!</p>
    <div class="submit-button">
        <button class="press">SUBMIT 'DAT TIP
        </button>
    </div>
</div>
<hr />
<div class="submit-form">
 <span id="deco-left-white"></span><h2>Just The Tip</h2><span id="deco-right-white"></span>
 <form>
    <!-- Awesome OnOffSwitch From http://proto.io/freebies/onoff/-->
    <div id="switches"><a name="submit"></a>
        <div class="onoffswitch">
            <input type="radio" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" value="Photoshop" data-tip-app="Photoshop" checked>
            <label class="onoffswitch-label" for="myonoffswitch">
                <div class="onoffswitch-inner"></div>
                <div class="onoffswitch-switch"></div>
            </label>
        </div>
        <div class="onoffswitch">
            <input type="radio" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2" value="After Effects" data-tip-app="After Effects">
            <label class="onoffswitch-label-2" for="myonoffswitch2">
                <div class="onoffswitch-inner"></div>
                <div class="onoffswitch-switch"></div>
            </label>
        </div>
        <div class="onoffswitch">
            <input type="radio" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch3" value="Illustrator" data-tip-app="Illustrator">
            <label class="onoffswitch-label-3" for="myonoffswitch3">
                <div class="onoffswitch-inner"></div>
                <div class="onoffswitch-switch"></div>
            </label>
        </div>
        <div class="onoffswitch">
            <input type="radio" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch4" value="InDesign" data-tip-app="InDesign">
            <label class="onoffswitch-label-4" for="myonoffswitch4">
                <div class="onoffswitch-inner"></div>
                <div class="onoffswitch-switch"></div>
            </label>
        </div>
        <div class="onoffswitch">
            <input type="radio" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch5" value="Flash" data-tip-app="Flash">
            <label class="onoffswitch-label-5" for="myonoffswitch5">
                <div class="onoffswitch-inner"></div>
                <div class="onoffswitch-switch"></div>
            </label>
        </div>
        <div class="onoffswitch">
            <input type="radio" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch6" value="Dreamweaver" data-tip-app="Dreamweaver">
            <label class="onoffswitch-label-6" for="myonoffswitch6">
                <div class="onoffswitch-inner"></div>
                <div class="onoffswitch-switch"></div>
            </label>
        </div>
        <div class="onoffswitch">
            <input type="radio" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch7" value="Sublime Text" data-tip-app="Sublime Tet">
            <label class="onoffswitch-label-7" for="myonoffswitch7">
                <div class="onoffswitch-inner"></div>
                <div class="onoffswitch-switch"></div>
            </label>
        </div>
    </div>
    <p class="none-selected js-selected-category">Choose a category</p>
    <textarea placeholder="Show me your tips" rows="8" cols="50" name="comment" form="usrform"></textarea>
    <br>
    <input type="submit" value="SUBMIT" class="submit-button" style="margin:1em auto 3em auto;">
</div>
</form>